
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityZens</title>
    <link rel="stylesheet" href="/css/landing.css" >

</head>

<body >
    
    <div><%- include ('../partials/Navbar.ejs') %></div>
    <h1 class="title">Manchester City</h1>
    <span class="line"><hr ></span>
    <p class="info">
        Manchester City Football Club are an English football club based in Manchester that competes in the Premier League, 
        the top flight of English football. Founded in 1880 as St. Mark's (West Gorton), they became Ardwick Association Football Club in 1887 and 
        Manchester City in 1894. The club's home ground is the Etihad Stadium in east Manchester, to which they moved in 2003, 
        having played at Maine Road since 1923. Manchester City adopted their sky blue home shirts in 1894, in the first season with the current name. 
        Over the course of its history, the club has won eight league titles, six FA Cups, eight League Cups, six FA Community Shields, and one European Cup Winners' Cup.
    </p>
    <p class="info2">
        Manchester City received considerable financial investment both in playing staff and facilities following its takeover 
        by Sheikh Mansour bin Zayed Al Nahyan through the Abu Dhabi United Group in 2008.[4] This started a new era of unprecedented success, 
        with the club winning the FA Cup in 2011 and the Premier League in 2012, both their first since the 1960s, 
        followed by another league title in 2014. Under the management of Pep Guardiola, Manchester City won the Premier League in 2018, 
        becoming the only team in the competition history to attain 100 points in a single season. In 2018–19, they won four trophies, 
        completing an unprecedented sweep of all domestic titles in England and becoming the first English men's team to win the domestic treble.
        This was followed by two consecutive Premier League titles in 2020–21 and 2021–22, the third and fourth in the Guardiola era,
        as well as the club's first-ever Champions League final in 2021, which they lost to Chelsea.
    </p>
</body>
</html>